body{
	max-height: 450px;
}
.bggray{
	background-color: #DADADA;
}
.row{
	width: 300px;
}
#a{
	display: flex;
	flex-direction:column;
	min-height: 200px;
	max-height: 293px;
	overflow-y:auto;
}
#a > div{
	cursor: pointer;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	min-height: 37px;
}
#a > div span:nth-child(2){
	margin-left: auto;
}
.top-each{
	width:100%;
	background-color: #DA262D;
	color:white;
	padding:5px;
	margin-top: 5px;
	text-align: center;
}
.collection{
	color:gray;
}
#controls{
	display: flex;
	flex-direction:row;
	background-color: #DA262D;
	justify-content:space-around;
	padding-top: 5px;
	padding-bottom: 5px;

}
.control-icon{
	padding: 10px;
	border-radius: 50%;
	background-color: #C70D14;
}
.control-icon img{
	width:25px;
	height:25px;
}
.control-icon:active{
	background-color: #D82128;
}
.songEach{
	color:gray;
	height:37px;
	line-height: 37px;
	font-size: 14px;
}
.playingThis{
	color:gray;
	background-color: #ECE7E7;
	border-radius: 3px; 
}
.play{
	width: 240px;
	border:1px solid #DADADA;
	height:100%;
	padding-left: 5px;
	color:#4C4C4C;
}
.play:hover{
	background-color: #ECE7E7;
}
#playlistEmpty{
	height: 100px;
	font-size: 20px;
	color:#BBB6B6;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
#storage{
	position: fixed;
	width: 100%;
	bottom:0px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	border-top: 1px solid gray;
	height: 30px;
	z-index: 3;
	background-color: #DA262D;
}
#storage > div{
	width: 50%;
	cursor: pointer;
	text-align: center;
	color:white;
	font-size: 15px;
	transition: all 0.2s linear;
}
#storage > div:hover{
	color:gray;
}
#loadState{
	border-right: 1px solid gray;
}

#storageSlots{
	position: fixed;
	width: 100%;
	bottom: 0px;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	border-top: 1px solid gray;
	height: 30px;
	z-index:2;
	background-color: #F1ECEC;
	transition: all 0.2s linear;
}
#storageSlots > div{
	width: 30%;
	text-align: center;
	color: gray;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.1s linear;
}
#storageSlots > div:hover{
	font-size: 16px;
}
#slot1{
	border-right: 1px solid gray;
}
#slot2{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#slot3{
	border-left: 1px solid gray;
}
#social{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
}
#social > img{
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
#savePopup{
	display: none;
	position: fixed;
	background-color: white;
	bottom: 32px;
	min-height:100px;
	max-height:250px; 
	width:80%;
	left: 10%;
	border-radius: 10px;
	border:1px solid #DADADA;
	overflow-y:hidden; 
}
.lsHead{
	height:30px;
	width: 100%;
	text-align: center;
	font-weight: 1000;
	font-size: 16px;
	background-color: #E23138;
	color:white;
	line-height: 30px;
}
#saveBody{
	width: 100%;
}
#overwrite{
	width: 100%;
	text-align:center;
	font-size: 16px;
	background-color: #E4E4E4;
	border-bottom: 1px solid #BBBABA;
	color:#636262;

}
#saveNew{
	width: 100%;
	padding:5px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#saveExisting{
	width: 100%;
	overflow-y:auto;
	max-height: 90px;
	min-height: 30px;
}
.saveEachList{
	font-size: 15px;
	padding:5px;
	border:1px solid #DADADA;
	cursor: pointer;
}
.saveEachList:hover{
	background-color: #DADADA;
}
.lsCancel{
	height:30px;
	width: 100%;
	text-align: center;
	font-weight: 1000;
	font-size: 16px;
	cursor: pointer;
	background-color: #E23138;
	color:white;
	line-height: 30px;
}

#loadPopup{
	display: none;
	position: fixed;
	background-color: white;
	bottom: 32px;
	min-height:100px;
	max-height:250px; 
	width:80%;
	left: 10%;
	border-radius: 10px;
	border:1px solid #DADADA;
	overflow-y:hidden; 
}
#loadBody, #loadStore{
	overflow-y:auto;
	min-height: 5px;
	margin-top: 5px;
	max-height: 250px;
}
.loadEachTile, .storeEachTile{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.loadEachList, .storeEachList{
	font-size: 15px;
	padding:5px;
	border-bottom: 1px solid #DADADA;
	cursor: pointer;
	width: 90%;
	float: left;
	margin-top: 3px; 
	color:#4C4C4C;
}
.loadEachList:hover, .storeEachList:hover{
	background-color: #DADADA;
}
.optionsEachPlaylist, .optionsEachStore{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	border: 1px solid #DADADA;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
}

#notifPopup{
	position: fixed;
	width: 80%;
	min-height:30px;
	line-height: 30px;
	text-align: center;
	background-color: white;
	border:0px solid gray;
	color:#4C4C4C;
	font-size: 14px;
	bottom:-40px;
	z-index:100;
	margin-left: 10%;
	border-radius: 2px;
	transition:0.2s all linear;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);

}

.deleteImage, .editImage, .downloadImage, .showImage, .playImage, .playStoreImage, .uploadImage{
	height: 40px;
	width: 40px;
	float: left;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: white;
	border: 1px solid #DADADA;
	border-radius: 50%;
}
.deleteImage:hover, .editImage:hover, .downloadImage:hover, .showImage:hover, .playImage:hover,.playStoreImage:hover, .uploadImage:hover{
	border: 1px solid #F27780;
}
.deleteImage > img, .editImage > img, .downloadImage > img, .showImage >  img, .playImage> img, .playStoreImage> img, .uploadImage> img{
	width:20px;
	height:20px;
}
.deleteImage:active, .editImage:active, .downloadImage:active, .showImage:active, .playStoreImage:active{
	background-color: #E4E2E2;
}

.add{
	height:100%;
	width:30px;
	float: left;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	border:1px solid #DADADA;
	cursor: pointer;
	background-color: white;
}
.add:hover{
	background-color: #D8D7D7;
}
.add:active{
	background-color: #E4E2E2;
}
.add >  img{
	width:30px;
	height:30px;
}


.close{
	height:100%;
	width:30px;
	float: left;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	border:1px solid #DADADA;
	cursor: pointer;
	background-color: white;

}
.close:hover{
	background-color: #D8D7D7;
}
.close:active{
	background-color: #E4E2E2;
}
.close >  img{
	width:15px;
	height:15px;
}
input[type="text"]{
	padding:5px;
	height:30px;
	width:72%;
	color:#4C4C4C;
}
input[type="submit"]{
	height:30px;
	width: 27%;
	cursor:pointer;
	background-color: #E6454C !important ;
}
input:focus{
	outline-color: #DA262D;
}

#addPlaylist, #searchStore{
	margin-top:5px;
}

#addPlaylistButton, #searchStoreButton{
	background-color: #DA262D;
	color:white;
	border:0px solid white;
	padding:0px;
}
.dropdown-content{
	width:150px !important;
	max-height: 300px !important;
}

#editWindow{
	z-index:10;
	width:80%;
	margin-left: 10%; 
	min-height: 100px;
	max-height: 280px; 
	position: fixed;
	top:150px;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
}
#editWindowHead{
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #DADADA;
	font-size: 16px;
	color: #D4030B;
}
#editWindowBody{
	min-height: 40px;
	overflow-y:auto;
	max-height: 210px; 
}
#editWindowDone{
	height:35px;
	line-height: 35px;
	cursor:pointer;
	width: 100%;
	text-align: center;
	border-top: 1px solid #DADADA;
	color:#4C4C4C;
	font-size: 15px;
}
.editEach{
	width: 100%;
	height:30px;
	line-height: 30px;
	border: 1px solid #DADADA;
	padding-left: 5px;
	padding-right:5px; 
	display: flex;
	flex-direction:row;
}
.editEachName{
	width: 90%;
	color:#4C4C4C;
	font-size: 13px;
}
.editEachIcon{
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	width: 10%;
	height:28px;
	background-color: #E6454C;
	cursor: pointer;
}
.editEachIcon > img{
	width: 20px;
	height: 20px;
}
.editEachIcon:hover{
	background-color: #DA262D;
}

#info{
	position: fixed;
	top:100px;
	z-index:100;
	background-color: white;
	width: 90%;
	margin-left: 5%;
	max-height:350px; 
	height: 350px;

	-webkit-box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
box-shadow: 0px 0px 9px 0px rgba(158,152,158,1);
}
#infoHead{
	border-bottom: 1px solid #DADADA;
	padding: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#infoHeadMessage{
	font-size: 14px;
	text-align: center;
	color: #DA262D;
}
#infoHeadOptions{
	color: #4C4C4C;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.infoHeadOptionsEach{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.infoHeadOptionsEach img{
	height:30px;
}
#info > ul{
	height:200px;
	max-height: 200px;
	overflow-y:auto;
}
#infoClose{
	height:35px;
	line-height: 35px;
	cursor:pointer;
	width: 100%;
	text-align: center;
	border-top: 1px solid #DADADA;
	color:#4C4C4C;
	font-size: 15px;
}
#info > ul > li{
	font-size: 14px;
	padding: 5px;
	color:#4C4C4C;
	display: flex;
	flex-direction:row;
	flex-wrap: no-wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;
}
.number{
	font-size: 30px;
	line-height: 30px;
	font-style: italic;
	color:pink;
	margin-right: 10px;
}

#layer{
	position: absolute;
	color:transparent;
	background-color: black;
	opacity: 0.7;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.tabs{
	width: 90% !important;
	margin-left: 0% !important;
	float: left !important;
}
#howToUse{
	height:48px;
	width: 10%;
	float: left;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items : center;
	cursor: pointer;
	background-color: #E6454C;
}
#howToUse>img{
	width:20px;
}
#howToUse>img:hover{
	width: 22px;
}
#github{
	width:20px;
	cursor:pointer;
}
#starGithub{
	width: 
}